<!-- templates/partials/core/ac.hbs -->
{{!-- This partial is wrapped by <div class="ac-display-wrapper"> in core_statblock_layout.hbs --}}
{{!-- The wrapper handles isHiddenGM and data-element-key --}}
<div class="ac-shield">
    <i class="fas fa-shield"></i> {{!-- Assuming Font Awesome 5 for fas, or use fa-solid for FA6 --}}
    <span class="ac-value">{{this.value}}</span>
</div> 