/* Inspect Statblock Tooltip Styles - Based on BG3 Module Pattern */

/* :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip {
} */

:is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .loading {
    display: none !important;
}

:is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip:has(.loading) {
    display: none !important;
}

body[data-show-materials="false"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .spell-block .materials {
    display: none;
}

/** Tooltip w/o Description **/
body[data-light-tooltip="nodesc"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .content > .description {
    display: none;
}

body[data-light-tooltip="nodesc"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .content > .pills {
    margin-top: .5rem;
}

/** Tooltip Light **/
body[data-light-tooltip="light"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip {
    width: auto;
}

body[data-light-tooltip="light"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .content > *:not(.header), 
body[data-light-tooltip="light"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .content > .header > *:not(.top), 
body[data-light-tooltip="light"] :is(#tooltip, .locked-tooltip).dnd5e-tooltip.inspect-statblock-tooltip .content > .header > .top > img {
    display: none;
}

/** Locked Tooltip **/
.locked-tooltip.dnd5e-tooltip.inspect-statblock-tooltip .content::after {
    content: "Right-click to dismiss.";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 6px 0 0;
    margin-bottom: -4px;
    font-size: var(--font-size-10);
    color: var(--color-text-dark-5);
}

.locked-tooltip.dnd5e-tooltip.inspect-statblock-tooltip {
    cursor: move;
    /* Allow tooltips to be positioned anywhere */
    /* bottom: unset !important; */
}

:is(#tooltip, .locked-tooltip).no-wrap {
    white-space: nowrap;
    max-width: unset;
}

/* Inspect Statblock specific tooltip content styling
.inspect-statblock-tooltip-content {
}  */